<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="#{company.tariffs}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="/static/style.css"/>
    <!--  <link href="css/style.css" rel="stylesheet">-->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"/>

</head>
<!--  задний фон-->
<!--<body th:style="'background: url(/static/images/auto.jpg) no-repeat center center fixed;'">-->
<body th:style="'background: url(/static/images/ship5.jpg) no-repeat center center fixed;'">
<div th:insert="parts/common.html :: navbar"></div>

<!--<img src="../static/images/auto.jpg" width="1000" th:src="@{images/auto.jpg}" alt=""/>-->

<div class="container mt-5"> <!--  отступы для заголовка из раздела utilities-spacing-->
    <!--  container из раздела layout-grid-->
<div class="container my-2">
    <h1 th:text="#{tariffs}"></h1>
    <table class="table table-bordered table-dark">
        <thead>
        <tr>
            <th scope="col">
                <a th:href="@{'/tariffs/' + ${currentPage} + '?sortField=address&sortDirection=' + ${reverseSortDirection}}" th:text="#{direction}"></a>
            </th>
            <th scope="col" th:text="#{package.size}"></th>
            <th scope="col" th:text="#{package.weight}"></th>
            <th scope="col" th:text="#{package.tariff}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tariff : ${tariffList}">
            <td th:text="${tariff.getAddress().toString()}"></td>
<!--            <td th:text="${#lists.toList(user.getRoles())}"></td>-->
            <td th:text="${tariff.getSize().getSize()}"></td>
            <td th:text="${tariff.getWeight().getWeight()}"></td>
            <td th:text="${tariff.getPrice()}"></td>
        </tr>
        </tbody>
    </table>

    <div th:if="${totalPages > 1}">
        <div class="row col-sm-20">
            <div class="col-sm-2" th:text="#{total.rows}">
                [[${totalItems}]]
            </div>
            <div class="col-sm-2">
            <span th:each="i: ${#numbers.sequence(1, totalPages)}">
      <a th:if="${currentPage != i}" th:href="@{'/tariffs/' + ${i}+ '?sortField=' + ${sortField} + '&sortDirection='
            + ${sortDirection}}">[[${i}]]</a>
      <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
            </span>
            </div>
            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/tariffs/' + ${currentPage + 1} + '?sortField='
                    + ${sortField} + '&sortDirection=' + ${sortDirection}}" th:text="#{next}"></a>
                <span th:unless="${currentPage < totalPages}" th:text="#{next}"></span>
            </div>

            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/tariffs/' + ${totalPages} + '?sortField='
                    + ${sortField} + '&sortDirection=' + ${sortDirection}}" th:text="#{last}"></a>
                <span th:unless="${currentPage < totalPages}" th:text="#{last}"></span>
            </div>
        </div>

    </div>
</div>

<div class="container mt-5" sec:authorize="isAnonymous()">
    <a class="btn btn-dark col-3" th:href="@{/showNewTransportationForm}" th:text="#{place.order}"></a>
</div>

</div>
<div th:insert="parts/common.html :: footer"></div>

</body>
</html>