<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title th:text="#{edit.user}"></title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"/>

</head>
<body th:style="'background: url(/static/images/auto7.jpg) no-repeat center center fixed;'">
<div th:insert="parts/common.html :: navbar"></div>

<div class="container">
<h2 th:text="#{user.edit}"></h2>

<!--<form action="#" th:action="@{/user}" th:object="${user}" method="POST">-->

<!--  <input type="hidden" th:field="*{id}"/>-->
<!--  <input type="text" th:field="*{username}" th:name="username"/>-->
<!--  <tr th:each="role : ${roles}">-->
<!--    <div>-->
<!--      <label><input type="checkbox" th:name="${role}" th:text="${role}"></label>-->
<!--    </div>-->
<!--  </tr>-->

    <form th:action="@{/user}" method="POST">
        <div> <!-- из раздела Layout - Horizontal form -->
            <label class="col-sm-2 col-form-label" th:text="#{change.name}"></label>
        <input type="text" name="username" th:value="${user.username}"/>
        </div>
        <label class="col-sm-2 col-form-label" th:text="#{change.role}"></label>
        <tr th:each="role : ${roles}">
            <div>
                <label><input type="checkbox" th:name="${role}" th:text="${role}"/></label>
            </div>
        </tr>
        <input type="hidden" name="userId" th:value="${user.id}"/>

  <button type="submit" class="btn btn-success" th:text="#{save}"></button>
</form>
  <hr>
<!--  <a th:href="@{main}"> Back to Employee List</a>-->

</div>

<!-- Separate Popper and Bootstrap JS -->
<div th:insert="parts/common.html :: footer"></div>
</body>
</html>