<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title th:text="#{company.customers}"></title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"/>

</head>
<body th:style="'background: url(/static/images/auto7.jpg) no-repeat center center fixed;'">
<div th:insert="parts/common.html :: navbar"></div>

<div class="container my-2">
    <h1 th:text="#{customer.list}"></h1>

    <table border="1" class="table table-hover table-dark"> <!-- table-striped table-responsive-md -->
        <thead>
        <tr>
            <th th:text="#{order.customer}"></th>
            <th th:text="#{customer.role}"></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${userList}">
            <td th:text="${user.username}"></td>
            <td th:text="${#lists.toList(user.getRoles())}"></td>
            <td><a th:href="@{/user/{id}(id=${user.id})}" class="btn btn-dark" th:text="#{edit}"></a></td>
        </tr>
        </tbody>
    </table>

</div>


<div th:insert="parts/common.html :: footer"></div>
</body>
</html>