<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <title th:text="#{company.user.transportations}"></title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"/>

</head>
<body>
<div th:insert="parts/common.html :: navbar"></div>

<div class="container mt-5">

</div>

<div class="container my-2" id="user-transportations-list">
  <h1 th:text="#{orders.list}"></h1>

  <table border="1" class="table table-striped table-responsive-md">
    <thead>
    <tr>
      <th th:text="#{receipt}"></th>
      <th th:text="#{order.address}"></th>
      <th th:text="#{order.comment}"></th>
      <th th:text="#{order.price}"></th>
      <th th:text="#{order.delivery}"></th>
      <th th:text="#{order.status}"></th>
      <th th:text="#{status.edit}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="transportation : ${transportations}">
      <td th:text="${transportation.id}"></td>
      <td th:text="${transportation.tariff.address}"></td>
      <td th:text="${transportation.comment}"></td>
      <td th:text="${transportation.tariff.price} + ' ' + #{uah}"></td>
      <td th:text="${transportation.deliveryDate}"></td>
      <td th:text="${transportation.transportationStatus}"></td>
      <div th:switch="${transportation.transportationStatus.name()}">
        <p th:case="'WAITING_FOR_PAYMENT'"><td ><a th:href="@{/transp/{id}(id=${transportation.id})}" class="btn btn-dark" th:text="#{pay.order}"></a></td></p>
        <p th:case="*"><td></td></p>
      </div>
    </tr>
    </tbody>
  </table>

</div>
<div class="container mt-5">
<a class="btn btn-info btn" th:href="@{/showNewTransportationForm}" th:text="#{place.order}"></a>
</div>

<div th:insert="parts/common.html :: footer"></div>
</body>
</html>